/******************* typograpy **********************?
/* Typography
================================================== */
.divider{
    
width: 100%;
  height: 50px;
  clear: both;
}



p{
  
    color: #555;
    line-height: 24px;
    margin: 0 0 20px;
    font-family: "Roboto Condensed", sans-serif;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: #fff;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100%;
  cursor: default;
  font-size: 14px;
  font-weight: 400;
  color: #777;
  height: 100%;
}

html {
  -webkit-text-size-adjust: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: "Roboto Condensed", sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 20px;

}

h2 {
  font-size: 60px;
  line-height: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px;
}

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px;
}

h5 {
  font-size: 17px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 21px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

/******************* typograpy **********************?
/* End of typography
================================================== */

/*******************bootstrap overrides 
                        Navigaion bar **************************/
                        
                        
.navbar-default {
  background-color: #fff;
  border-color: #eee;
  -webkit-box-shadow: 0 5px 6px -6px #ccc;
  -moz-box-shadow: 0 5px 6px -6px #ccc;
  -ms-box-shadow: 0 5px 6px -6px #ccc;
  box-shadow: 0 5px 6px -6px #ccc;
  width: 100%;
  padding: 5px 0;
  position: relative;
}



.navbar {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 0px 5px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 16px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0073FD;
  background-color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  color: #0073FD;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0073FD;
  background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}
.navbar-default .navbar-nav > li.social-nav i {
  font-size: 20px;
}

.one-page-navbar .navbar-nav > li > a {
  font-size: 12px;
}

/*sticky header*/
.sticky-nav {
  width: 100%;
  z-index: 999;
}

/*********************header option 2***************************/
.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.9);
  border: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 10px 0;
  width: 100%;
}
.navbar-nav > li > a {
  color: #eee;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.navbar-nav > li > a:hover {
  color: #0073FD;
  background-color: transparent;
}
.navbar-nav > li > a
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
..navbar-nav > .active > a:focus {
  color: #0073FD;
  background-color: transparent;
}
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus {
  color: #0073FD;
  background-color: transparent;
}
.navbar-nav > li.social-nav i {
  font-size: 20px;
}

 .navbar-nav > .active > a, .navbar-nav > .active > a:focus,  .navbar-nav > .active > a:hover {
  background-color: transparent;
}


/* End of Navigation bar*/


/* Start of header image and carousel*/

#header-image {
   
    width: 100%;
    height: 600px;
}

#landing-page{
  border: 1px solid #eee;
}

/*************** SEnd of 
                     first header image ******/


/************ carousel **********/
#left-carousel,
#right-carousel{

  position: absolute;
    top: 50%;
    height: 51px;
    width: 51px;
    line-height: 48px;
    z-index: 20;
    font-size: 24px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#left-carousel:hover,
#right-carousel:hover
{
  background-color: #fff;
  color: #fff;

}


.carousel-inner .carousel-caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #0073FD;
}



#carousel-header
{
  color: #fff;
  font-family: Helvetica,sans-serif;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

#carousel-heta {
  color: #0073FD;

}

#carousel-paragraph{
  color: #0073FD;


}




/*********** start of about us heading and others ***/
h4.heading-mini {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
  color: #000;
  margin-bottom: 30px;
}


.aboutus-image{

  width: 547px;
  height: 300px;
}

.img-project{
  width: 547px;
  height: 300px;

}

.btn-radius {
  padding: 12px 50px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
/*********** end of about us heading and others ***/


/********process section we do ******/

.process-box {
    text-align: center;
    padding: 20px 0;

}


.process-box i {
    font-size: 34px;
    color: #0073FD;
    margin-bottom: 20px;

    display: inline-block;
}
.process-box h4 {
    font-size: 17px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: "Roboto Condensed", sans-serif;
    color: #0073FD;

}

#process-section{

  background-color: #fafafa;
}
.person-section img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 60px;
}


/********** footer style  **************/
/* =Footer
-------------------------------------------------------------- */
.footer { 
  padding:30px 0 30px 0;
  background-color:#272727;
  color:#8F8F8F;
  vertical-align:bottom;
}

.footer-light { 
  padding:30px 0 30px 0;
  background-color:#fafafa;
  color:#8F8F8F;
  vertical-align:bottom;
  border-top:1px dotted #d2d2d2;
}

.footer-light p {
  margin:0 0 5px;
  padding-top: 5px;
}
#footer-socialmedia{
  padding-top: 15px;
}

.footer-light a {
  font-weight:400;
}

.footer-light .thumbnail {
  padding:0;
  border:0;
  border-radius:0px;
  margin-bottom:0;
}

.footer-light .thumbnail:hover {
  outline:5px solid #00B7EB;
}

.footer-light .heading-footer h2, .footer-light .heading-footer h3, .footer-light .heading-footer h4 {
  margin:0 0 -2px 0;
  padding-bottom:10px;
  display:inline-block;
  font-weight:400;
  border-bottom:2px solid #0073FD;
  
  color:#5F5F5F;
  font-size:14px;
}



/******** social icon ********/




/**social icons default size**/
.btn-social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  
}
.btn-social-icon :hover {
  border-color: transparent;
}

.btn-social-icon  i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative;
}
.btn-social-icon  i:last-child {
  color: #FFF !important;
}

.btn-social-icon :hover i:first-child {
  margin-top: -40px;
}


/***social icons small***/
.btn-sm {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  
}

.btn-sm:hover {
  border-color: transparent;
}

.btn-sm i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  position: relative;
}
.btn-sm i:last-child {
  color: #FFF !important;
}

.btn-sm:hover i:first-child {
  margin-top: -30px;
}


.btn-rw.btn-primary {
  color :#0073FD;
  background-color: white;
  border-color: #0073FD;
  -webkit-box-shadow:0px 2px 0px #0073FD;
  -moz-box-shadow:0px 2px 0px #0073FD;
  box-shadow:0px 2px 0px #0073FD;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.btn-rw.btn-primary:hover, .btn-rw.btn-primary:focus {
  color: #fff;
  background-color: #0073FD;
  -webkit-box-shadow:0px 2px 0px #0073FD;
  -moz-box-shadow:0px 2px 0px #0073FD;
  box-shadow:0px 2px 0px #0073FD;
}



/**contact page **/
.contact-form-col {
  padding: 25px 30px;
  background-color: #f9f9f9;
  margin-bottom: 30px;
}
.contact-form-col h3 {
  font-weight: 400;
}
.contact-form-col .help-block ul {
  list-style: none;
  padding: 0px;
}
.contact-form-col .help-block ul li {
  font-size: 13px;
  color: red;
}
.contact-form-col .form-control {
  min-height: 45px;
  font-size: 13px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-width: 2px;
  border-color: #ddd;
}
.contact-form-col .form-control:hover, .contact-form-col .form-control:focus {
  border-color: #0073FD;
}

.contact-info .media-left {
  vertical-align: middle;
}
.contact-info .media-left i {
  display: block;
  color: #0073FD;
  font-size: 25px;
}
.contact-info p {
  padding-left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0px;
}


.media-body {
    zoom: 1;
    overflow: hidden;
}

